.content-width-tablet{
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

video{
  transform: translateX(-190px);  

}

.prof{
  &__container{
    @extend .content-width-tablet;

    flex-direction: row;
    justify-content: space-between;
  }

  &__texts{
    transform: translateY(60px);
    // margin-left: 50px; 
    // position: absolute;
    // top: 0;
    // right: 0;
    // flex-basis: 80%;
  }

}

.life{
  &__childhood{
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0 !important;
  }

  &__school{
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0 !important;

  }

  &__college{
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0 !important;    
  }

  &__univ{
    flex-direction: row;    
    justify-content: space-between;
    margin-bottom: 0 !important;
  }

  // &__heading{
  //   border-bottom: 3px solid #979797;
  // }

  &__img{
    width: 50%;
  }

  &__texts{
    margin: 20px;
  }

  &__flowline{
    display: block;
    width: 50%;
    height: 40px;
    margin: 0 auto;
  }
}

