/******************************************************************
Stylesheet: ベーススタイル(スマホ)
******************************************************************/

* {
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1.5px;
  color: #333333;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

//Font
.font-sr{
  font-size: 12px;
  font-weight: 600;
}

.font-sm{
  font-size: 15px;
  font-weight: 600;
}
.font-md{
  font-size: 18px;
}
.font-lr{
  font-size: 18px;
  font-weight: 600;
}
.font-lg{
  font-size: 25x;
}

//margin,padding
.mb-sm{
  margin-bottom: 16px !important;
}
.mb-lg{
  margin-bottom: 80px !important;
}
.pb-sm{
  padding-bottom: 16px !important;
}
.pb-lg{
  padding-bottom: 80px !important;
}

//section-sparate
.sec-space{
  padding: 50px 0 !important;
}

.content-width{
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.main-title{
  @extend .font-lg;
  font-weight: 600;
  padding: 0.8em 0;
}

.sub-title{
  font-size: 10px;
  // margin-bottom: 0;
  font-weight: 600;
}

.flex{
  display: flex;
  flex-direction: column;
}

main{
  position: relative;
  z-index: -1;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  z-index: 100;
  background-color: transparent;
  align-items: center;

  &__inner{
    @extend .flex;
    @extend .content-width;

    flex-direction: row;  
    justify-content: space-between;
    align-items: center;

  }

  &__nav{
    display: none;
  }

  & .logo{

    display: inline-block;
    font-size: 38px;
    justify-content: center;
  }
}

.hero{
  position: relative;
  top: 0;
  left: 0;
  height: 650px;
  width: 100%;
  background-color: teal;
}

#content{
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 1800px;
  background-image: url("../../assets/bg_img.jpg");
  background-position: center;
  background-size: cover;
}

.about{
  @extend .content-width;
  @extend .sec-space;

  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 20px;

  &__title{
    @extend .main-title;
  }

  &__img{
    width: 60%;
    height: auto;
  }

  &__ul{
    list-style: none;
  }
}

.prof{
  @extend .sec-space;

  &__title{
    @extend .main-title;
    text-align: center;
  }

  &__container{
    @extend .flex;

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
  }

  &__img{
    width: 80%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  &__texts{
    width: 290px;
    height: 360px;
    background-image: url("../../assets/gray_bg.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    color: $cWhite;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding-top: 80px; 
  }

  &__name{
    @extend .main-title;
  }

  &__sub{
    @extend .sub-title;
  }

  &__ul{
    margin: 20px;
    padding: 20px;
    border-top: 3px solid #fff;
    list-style: none;
  }

}

.life{
  @extend .content-width;
  @extend .sec-space;

  &__title{
    @extend .main-title;
    text-align: center;
  }

  &__explain{
    text-align: center;
  }

  &__container{
    @extend .flex;
  }

  &__childhood{
    @extend .flex;
  }

  &__school{
    @extend .flex;

    flex-direction: column-reverse;
  }

  &__college{
    @extend .flex;
  }

  &__univ{
    @extend .flex;

    flex-direction: column-reverse;
  }
}
