/******************************************************************
Stylesheet: ベーススタイル(スマホ)
******************************************************************/

* {
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1.5px;
  color: #333333;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

//Font
.font-sr{
  font-size: 12px;
  font-weight: 600;
}

.font-sm{
  font-size: 15px;
  font-weight: 600;
}
.font-md{
  font-size: 18px;
}
.font-lr{
  font-size: 18px;
  font-weight: 600;
}
.font-lg{
  font-size: 25x;
}

//margin,padding
.mb-sm{
  margin-bottom: 16px !important;
}
.mb-md{
  margin-bottom: 36px !important;
}
.mb-lg{
  margin-bottom: 80px !important;
}
.pb-sm{
  padding-bottom: 16px !important;
}
.pb-md{
  padding-bottom: 36px !important;
}
.pb-lg{
  padding-bottom: 80px !important;
}

//section-sparate
.sec-space{
  padding: 50px 0 !important;
}

.content-width{
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.main-title{
  @extend .font-lg;
  font-weight: 600;
  padding: 0.8em 0;
}

.sub-title{
  font-size: 10px;
  // margin-bottom: 0;
  font-weight: 600;
}

.flex{
  display: flex;
  flex-direction: column;
}

main{
  position: relative;
  z-index: -1;
}

video{
  height: 650px;
  transform: translateX(-375px);
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  z-index: 100;
  background-color: transparent;
  align-items: center;

  &__inner{
    @extend .flex;
    @extend .content-width;

    flex-direction: row;  
    justify-content: space-between;
    align-items: center;

  }

  &__nav{
    display: none;
  }

  & .logo{
    display: inline-block;
    font-size: 38px;
    justify-content: center;
  }
}

.hero{
  position: relative;
  top: 0;
  left: 0;
  height: 650px;
  width: 100%;
  background-color: teal;
  z-index: 5;
  overflow: hidden;

  &__title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $cWhite;
    font-size: 2em;
  }

  &__footer{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    height: 83px;
    width: 18px;
    z-index: 15;
    overflow: hidden;
  }

  &__downarrow{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 7px;

    @include animation($name: kf-arrow-anime, $iteration-count: infinite, $duration: 2s, $timing-function: linear)
  }

  &__scrolltext{
    position: absolute;
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.7);
    top: 22px;
    left: -8px;
    font-size: 0.9em;

  }
}

#content{
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url("../../assets/bg_img.jpg");
}

.about{
  @extend .content-width;
  @extend .sec-space;

  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 20px;

  &__title{
    @extend .main-title;
    margin-bottom: 0;
  }

  &__img{
    width: 70px;
    margin: 0 auto;
    padding: 40px 0;

    & > img{
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }

    @include animation($name: kf-question-anime, $iteration-count: infinite, $duration: 4s, $timing-function: linear)
  }

  &__txt{
    margin: 1em 0;
  }

  &__ul{
    list-style: none;
  }
}

.prof{
  @extend .sec-space;

  &__title{
    @extend .main-title;
    text-align: center;
  }

  &__container{
    @extend .flex;

    position: relative;
    top: 0;
    left: 0;
  }

  &__img{
    width: 80%;
    max-width: 450px;
    position: relative;
    z-index: 100;

  }

  &__texts{
    width: 80%;
    max-width: 450px;
    background-image: url("../../assets/gray_bg.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    color: $cWhite;
    text-align: center;
    padding-top: 80px; 
    padding-bottom: 20px; 
    margin: 0 0 0 auto;
    transform: translateY(-60px);
    position: relative;
    z-index: 10;
  }

  &__name{
    @extend .main-title;
  }

  &__sub{
    @extend .sub-title;
  }

  &__ul{
    margin: 20px;
    padding: 20px;
    border-top: 3px solid #fff;
    list-style: none;
  }

}

.life{
  @extend .content-width;
  @extend .sec-space;

  &__title{
    @extend .main-title;
    text-align: center;
  }

  &__explain{
    text-align: center;
  }

  &__container{
    @extend .flex;
  }

  &__childhood{
    @extend .flex;
    @extend .mb-md;
  }

  &__school{
    @extend .flex;
    @extend .mb-md;

    flex-direction: column-reverse;
  }

  &__college{
    @extend .flex;
    @extend .mb-md;

  }

  &__univ{
    @extend .flex;
    @extend .mb-md;

    flex-direction: column-reverse;
  }

  &__heading{
    border-bottom: 3px solid #979797;
  }
}

.skills{
  @extend .sec-space;

  &__title{
    @extend .content-width;
    @extend .mb-sm;
    
    text-align: center;
  }

  &__explain{
    @extend .content-width;
    @extend .mb-sm;

  }
}

.works{
  @extend .sec-space;
  @extend .content-width;
  
  &__title{
    text-align: center;
  }

  &__explain{
    margin: 30px 0;
  }

  &__work-sp{
    @extend .flex;

    &:nth-child(4){
      & > .works__img > img{
        border-radius: 20px;
      }
    }
  }

  &__img{
    position: relative;
    z-index: 100;
    width: 150px;
    margin: 0 auto;
    
    & > img{
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__texts{
    background-image: url("../../assets/gray_bg.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    color: $cWhite;
    text-align: center;
    padding-top: 100px; 
    position: relative;
    z-index: 10;
    transform: translateY(-70px);
  }

  &__name{
    @extend .mb-sm;
    font-size: 20px;
    font-weight: 800;
  }

  &__tech{
    @extend .mb-sm;
  }

  &__url{
    @extend .mb-sm;

    & > p{
      margin-bottom: 0; 
    }
  }

  &__text{
    @extend .content-width;
    @extend .mb-md;
  }
}

.footer{
  background-color: $cThinBlack;
  color: $cWhite;
  padding: 60px 0;
  text-align: center;

  & .logo{
    display: inline-block;
    font-size: 30px;
    justify-content: center;
  }

  &__ul{
    list-style: none;
    padding: 10px 0;
  }

  &__li{
    @extend .font-sm;

    & > a{
      color: $cWhite;
    }
  }

  &__copyright{
    @extend .font-sr;
    padding: 10px;
  }
}

