@import './variables';

.mobile-menu{
    position: fixed;
    top: 20px;
    right: 49px;
    background-color: $cThinBlack;


    &__cover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s; 
        z-index: 2;
    }

    &__title{
        color: $cWhite;
        font-size: 2em;
        margin: 1em 0;
    }

    &__ul{
        text-align: center;
        margin: 30px 0;
    }

    &__li{
        list-style: none;
        font-size: 20px;

        & > a{
            text-decoration: none;
            color: $cWhite;
        }
    }


    &__btn {
        background-color: unset;
        border: none;
        outline: none !important;
        cursor: pointer;

        &.inview{
            display: none;
        }

        & > span {
            background-color: $cBlack;
            width: 35px;
            height: 2px;
            display: block;
            margin-bottom: 9px;
            transition: transform 0.7s;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}

.menu-open {
    background-color: $cThinBlack;

    & .mobile-menu{
        &__cover{
            opacity: 1;
            visibility: visible;
        }
    }

    & #container{
        transform: translateX(-300px);
        box-shadow: 0 8px 90px 30px rgba(0, 0, 0, 0.8);
    }

    & .mobile-menu__btn {
        & > span {

            &:nth-child(1) {
                transition-delay: 70ms;
                transform: translateY(11px) rotate(135deg);
            }
            &:nth-child(2) {
                transition-delay: 0s;
                transform:  translateX(-18px) scaleX(0);
            }
            &:nth-child(3) {
                transition-delay: 140ms;
                transform: translateY(-11px) rotate(-135deg);
            }
        }
    }
}