.swiper-container {
  margin: 40px 0;
}

.swiper-slide{
  height: 220px;

  &__icon{
    height: 160px;

    & > svg{
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      transform: scale(0.6);
      transition: transform 1.4s ease;
    }
  }

  &__skill{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 50%);
    font-size: 20px;
    font-weight: 800;
    opacity: 0;
    transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
  }

  &-active{

    & > .swiper-slide__icon > svg{
      transform: none;
    }

    & > .swiper-slide__skill{
      opacity: 1;
      transform: translate(-50%, -30%);
    }
  }

}