@charset "UTF-8";
.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.mobile-menu__btn > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.menu-open {
  background-color: black;
}

.menu-open .mobile-menu__btn > span {
  background-color: white;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

/******************************************************************
Stylesheet: ベーススタイル(スマホ)
******************************************************************/
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1.5px;
  color: #333333;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sr {
  font-size: 12px;
  font-weight: 600;
}

.font-sm {
  font-size: 15px;
  font-weight: 600;
}

.font-md {
  font-size: 18px;
}

.font-lr {
  font-size: 18px;
  font-weight: 600;
}

.font-lg, .main-title, .about__title, .prof__title, .prof__name {
  font-size: 25x;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.sec-space, .about, .prof {
  padding: 50px 0 !important;
}

.content-width, .header__inner, .about {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.main-title, .about__title, .prof__title, .prof__name {
  font-weight: 600;
  padding: 0.8em 0;
}

.sub-title, .prof__sub {
  font-size: 10px;
  font-weight: 600;
}

.flex, .header__inner, .prof__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  position: relative;
  z-index: -1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: none;
}

.header .logo {
  display: inline-block;
  font-size: 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  position: relative;
  top: 0;
  left: 0;
  height: 650px;
  width: 100%;
  background-color: teal;
}

#content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 1800px;
  background-image: url("../../assets/bg_img.jpg");
  background-position: center;
  background-size: cover;
}

.about {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 20px;
}

.about__img {
  width: 60%;
  height: auto;
}

.about__ul {
  list-style: none;
}

.prof__title {
  text-align: center;
}

.prof__container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
}

.prof__img {
  width: 80%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.prof__texts {
  width: 290px;
  height: 360px;
  background-image: url("../../assets/gray_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding-top: 80px;
}

.prof__ul {
  margin: 20px;
  padding: 20px;
  border-top: 3px solid #fff;
  list-style: none;
}
/*# sourceMappingURL=styles.css.map */