@charset "UTF-8";
.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.mobile-menu__btn > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.menu-open {
  background-color: black;
}

.menu-open .mobile-menu__btn > span {
  background-color: white;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

.swiper-container {
  margin: 40px 0;
}

.swiper-slide {
  height: 220px;
}

.swiper-slide__icon {
  height: 160px;
}

.swiper-slide__icon > svg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transition: -webkit-transform 1.4s ease;
  transition: -webkit-transform 1.4s ease;
  transition: transform 1.4s ease;
  transition: transform 1.4s ease, -webkit-transform 1.4s ease;
}

.swiper-slide__skill {
  position: absolute;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  font-size: 20px;
  font-weight: 800;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 1s, -webkit-transform 0.3s ease 1s;
  transition: opacity 0.3s ease 1s, -webkit-transform 0.3s ease 1s;
  transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
  transition: opacity 0.3s ease 1s, transform 0.3s ease 1s, -webkit-transform 0.3s ease 1s;
}

.swiper-slide-active > .swiper-slide__icon > svg {
  -webkit-transform: none;
          transform: none;
}

.swiper-slide-active > .swiper-slide__skill {
  opacity: 1;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
}

@-webkit-keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  70% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  70% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes kf-question-anime {
  0%,
  50%,
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25%,
  75% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes kf-question-anime {
  0%,
  50%,
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25%,
  75% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

/******************************************************************
Stylesheet: ベーススタイル(スマホ)
******************************************************************/
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1.5px;
  color: #333333;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sr {
  font-size: 12px;
  font-weight: 600;
}

.font-sm, .footer__li {
  font-size: 15px;
  font-weight: 600;
}

.font-md {
  font-size: 18px;
}

.font-lr {
  font-size: 18px;
  font-weight: 600;
}

.font-lg, .main-title, .about__title, .prof__title, .prof__name, .life__title {
  font-size: 25x;
}

.mb-sm, .skills__title, .skills__explain, .works__name, .works__tech, .works__url {
  margin-bottom: 16px !important;
}

.mb-md, .life__childhood, .life__school, .life__college, .life__univ, .works__text {
  margin-bottom: 36px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-md {
  padding-bottom: 36px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.sec-space, .about, .prof, .life, .skills, .works {
  padding: 50px 0 !important;
}

.content-width, .header__inner, .about, .life, .skills__title, .skills__explain, .works, .works__text, .footer__inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.main-title, .about__title, .prof__title, .prof__name, .life__title {
  font-weight: 600;
  padding: 0.8em 0;
}

.sub-title, .prof__sub {
  font-size: 10px;
  font-weight: 600;
}

.flex, .header__inner, .prof__container, .life__container, .life__childhood, .life__school, .life__college, .life__univ, .works__work-sp, .footer__nav, .footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  position: relative;
  z-index: -1;
}

video {
  height: 650px;
  -webkit-transform: translateX(-375px);
          transform: translateX(-375px);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: none;
}

.header .logo {
  display: inline-block;
  font-size: 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  position: relative;
  top: 0;
  left: 0;
  height: 650px;
  width: 100%;
  background-color: black;
  z-index: 5;
  overflow: hidden;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
}

.hero__footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 83px;
  width: 18px;
  z-index: 15;
  overflow: hidden;
}

.hero__downarrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 7px;
  -webkit-animation-name: kf-arrow-anime;
          animation-name: kf-arrow-anime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hero__scrolltext {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: rgba(255, 255, 255, 0.7);
  top: 22px;
  left: -8px;
  font-size: 0.9em;
}

#content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url("../../assets/bg_img.jpg");
}

.about {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 20px;
}

.about__title {
  margin-bottom: 0;
}

.about__img {
  width: 70px;
  margin: 0 auto;
  padding: 40px 0;
  -webkit-animation-name: kf-question-anime;
          animation-name: kf-question-anime;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about__img > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__txt {
  margin: 1em 0;
}

.about__ul {
  list-style: none;
}

.prof__title {
  text-align: center;
}

.prof__container {
  position: relative;
  top: 0;
  left: 0;
}

.prof__img {
  width: 80%;
  max-width: 450px;
  position: relative;
  z-index: 100;
}

.prof__texts {
  width: 80%;
  max-width: 450px;
  background-image: url("../../assets/gray_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
  margin: 0 0 0 auto;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  position: relative;
  z-index: 10;
}

.prof__ul {
  margin: 20px;
  padding: 20px;
  border-top: 3px solid #fff;
  list-style: none;
}

.life__title {
  text-align: center;
}

.life__explain {
  text-align: center;
}

.life__school {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.life__univ {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.life__heading {
  border-bottom: 3px solid #979797;
}

.life__img {
  width: 100%;
}

.life__flowline {
  display: none;
}

.skills__title {
  text-align: center;
}

.works__title {
  text-align: center;
}

.works__explain {
  margin: 30px 0;
}

.works__work-sp:nth-child(4) > .works__img > img {
  border-radius: 20px;
}

.works__img {
  position: relative;
  z-index: 100;
  width: 150px;
  margin: 0 auto;
}

.works__img > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works__texts {
  background-image: url("../../assets/gray_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 100px;
  position: relative;
  z-index: 10;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

.works__name {
  font-size: 20px;
  font-weight: 800;
}

.works__url > p {
  margin-bottom: 0;
}

.footer {
  background-color: #222222;
  color: white;
  padding: 60px 0;
  text-align: center;
}

.footer__title {
  font-size: 30px;
  margin: 0 auto;
}

.footer__ul {
  list-style: none;
  margin: 1.2rem 0;
}

.footer__li > a {
  color: white;
  text-decoration: none;
}

.footer__copyright {
  padding: 10px;
}

.side {
  display: none;
  position: fixed;
  top: 70%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  color: black;
}

.side a,
.side span {
  color: black;
  text-decoration: none;
  vertical-align: middle;
  margin: 0 40px;
}

.side.left {
  left: 50px;
}

.side.left .side__inner {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.side.right {
  right: 50px;
}

.side.right .side__inner {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.side__icon {
  width: 1.2em;
  height: 1.2em;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

@media (min-width: 768px) {
  .content-width-tablet, .prof__container, .life, .skills, .works {
    width: 80%;
    margin: 0 auto;
    max-width: 1070px;
  }
  video {
    -webkit-transform: translateX(-190px);
            transform: translateX(-190px);
  }
  .prof__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .prof__texts {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  .life__childhood {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0 !important;
  }
  .life__school {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0 !important;
  }
  .life__college {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0 !important;
  }
  .life__univ {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0 !important;
  }
  .life__img {
    width: 50%;
  }
  .life__texts {
    margin: 20px;
  }
  .life__flowline {
    display: block;
    width: 50%;
    height: 40px;
    margin: 0 auto;
  }
  .footer {
    text-align: left;
  }
  .footer .logo {
    text-align: start;
  }
  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__li {
    padding-right: 10px;
  }
}

@media (min-width: 1024px) {
  .content-width-desktop, .skills {
    width: 90%;
    margin: 0 auto;
    max-width: 1070px;
  }
  video {
    width: 100%;
    -webkit-transform: none;
            transform: none;
  }
  .side {
    display: block;
  }
}
/*# sourceMappingURL=styles.css.map */